<div class="container-fluid">
	<div class="headSIMA">
            <hr />
            <h1>MAESTRO</h1>
            <p class="lead">PLAN DE TRABAJO DOCENTE</p>
            <hr />
        </div>
    <div class="headSIMA">
     
          <label class="item item-input">
            <span class="input-label">Usuario: </span>
            <input class="form-control" type="text" ng-model="userInfo.user">
          </label>
          <br>
          <label class="item item-input">
            <span class="input-label">Contraseña:</span>
            <input class="form-control" type="password" ng-model="userInfo.password" />
          </label>
          <br>
          <button style="background-color: #D50A2C; color: white;" class="round-button" type="button"  ng-click="login()">Login</button>
      
    </div>
</div>
